html{
    height: 100%;
    /* font-family: "Roboto Condensed",sans-serif; */
}
body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#2d882d,#2e4272);

}
.container{
    box-shadow:2px 3px 4px rgba(0,0,0.5) ;
    padding: 20px;
    border-radius: 5px;
    background-color: #AA6C39;
}
h1{
    margin: 0;
    background-color: #cfcfcf;
    color: black;
    font-size: 64px;
    border-radius: 5px;
    padding: 10px;
    display: inline-block !important;
    width: 85px;
    text-align: center;
    box-shadow:2px 3px 4px black ;

}
button{
    width: 95px;
    flex: 1;
    margin:15px 5px;
    border: none;
    font-size: 20px;
    padding: 6px;
    border-radius: 5px;
    box-shadow:2px 3px 4px black ;
    font-weight: bold;
    color: black;
    background-color: #88CC88;
}
button:hover{
    background-color: #061539;
    color: white;
}